node_modules
dist
build
Dockerfile*
docker-compose.yml
.git
.gitignore
.github
.vscode
.env.local
.DS_Store
*.md
LICENSE
npm-debug.log
.eslintignore
.prettierignore
.editorconfig
coverage
test
.nyc_output
